<div class="hero-unit">
	<h1>Mia's First Rails Project!</h1>
	<p>
		You found the home page for Mia's
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		project.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
